@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


.wrap-1{
    background-image:url("/images/dark_wood.jpg");
   
  
}
.wrap-1 .box{
  float:left;
position:relative;
width: 250px;
height: 100px;
box-sizing: border-box;
text-align: center;
margin:0 10px;
background:transparent;
overflow:hidden;
border-radius: 0px;

}
.wrap-1 .box .icon{
  width:100%;
  height: 100%;
  background:transparent;
  transition:0.5s;
}
.wrap-1 .box .icon .fa{
  font-size: 4em;
  line-height: 100px;
  color:#fff;
}
.wrap-1 .box:hover .icon{
  transform:scale(0);
}
.wrap-1 .box .details{

  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: transparent;
  transition: 0.5s;
  transform:scale(2);
  opacity: 0;
}
.wrap-1 .box:hover .details{
  transform:scale(1);
  opacity: 1;
}
.wrap-1 .box .details h3{
  margin:0;
  padding: 0;
  line-height: 100px;
  color:rgb(7, 112, 63);

}
 .hom{
    background-image: url("/images/dark_wood.jpg");
    background-size:cover;
}
.about{
  background-image: url("/images/dark_wood.jpg");
  background-size:cover;
  
  
}

 .profile-h2 {
    color:#fff;
    font-size:50px;
    font-style:bold; 
    margin-left:30px;
    
   
}
.profile-p{
    color:#fff;
    font-size:25px;
    border:1px solid rgb(8, 158, 76);
    background-color:rgb(8, 158, 76);
     width:300px;
    padding-left:50px;
     margin-left:55px;
   
}

.profile{
padding-top:350px;
}
.profile2{
   padding-top:120px;
}
.wrap-2 .profile{
  padding-top:250px;
}
.wrap-2 .profile2{
  padding-top:70px;
}
.profile2 img{
    width:700px;
    height:700px;
   
}

.wrap-3 p{
  color:rgb(0, 128, 75);
}
.section-1{
    padding-top:70px;
    color:#fff;
}
.section-1 p{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:20px;
}
.wrap-4{
    margin-top:50px;
  background-image: url("/images/Black_wallpaper.png");
    
   
    border-radius:30px;;
    
}
.imags img{
    border:1px solid  rgb(52, 61, 61);
    border-radius:50%;
    width:250px;
    height:250px;
    margin-top:50px;
    margin-left:40px;

}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .github {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
  .info{
      padding-top:20px;
     
      margin-right:150px;
  }
  .info .fa{
    font-size:40px;
    margin: 0 10px;
  }
.info p{
    font-size:22px;
    color:#fff;
}
.info strong{
    font-size:25px;
    color:rgb(0, 128, 75);
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-left:120px;
  }
  .btn a{
      color:#fff;
      text-decoration: none;
  }
  .btn:hover {
    background-color: RoyalBlue ; 
  }
  
  .skills{
    background-image: url("/images/Black_wallpaper.png");
   
    
  }
  .skil1 .para{
    color:rgb(0, 128, 75);
  }
  
  .skil1 h1{
    text-align: center;
    font-family:"helvetica";
    color:#fff;
    padding-top:70px;
  }
  .skil1 p{
    text-align: center;
    color:#fff;
    font-family:"monospace";
    font-size:20px;
  }
  .canv{
    padding-top:90px;
  }
  .canv p{
    text-align:center;
    font-size: 14px;
  }
  .canv .box .chart{
    position:relative;
    width:110px;
    height:110px;
    margin:0 auto;
    text-align:center;
    font-size: 30px;
    line-height:110px;
    color:white;
  }
  .canv .box canvas{
    position: absolute;
    top:0;
    left:0;

  }
  .canv h3{
    text-align:center;
    padding-top:10px;
    color:rgb(0, 128, 75);
  }
  .proj{
    background-image: url("/images/Black_wallpaper.png");
    background-repeat: no-repeat;
  }
  .pro{
    padding-top:50px;
  }
  
  .pro h1{
    padding-bottom: 30px;
    color:white;
  }
  
  .pro a{
    padding-top:10px;
   
    font-size:30px;
    color:rgb(0, 128, 75);
  }
  .pro a:hover{
    text-decoration:none;
    color:#dd4b39;
  }
  .pro p{
    padding-top:20px;
    font-family:monospace;
    font-size: 20px;
    color:#fff;
  }
  .pro .proh
{
  color:#55ACEE;
}  



   